<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TopView</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TribeUpdateServlet</display-name>
    <servlet-name>TribeUpdateServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.TribeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TribeUpdateServlet</servlet-name>
    <url-pattern>/TribeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DragonUpdateServlet</display-name>
    <servlet-name>DragonUpdateServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.DragonUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DragonUpdateServlet</servlet-name>
    <url-pattern>/DragonUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DragonAddServlet</display-name>
    <servlet-name>DragonAddServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.DragonAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DragonAddServlet</servlet-name>
    <url-pattern>/DragonAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DragonDeleteServlet</display-name>
    <servlet-name>DragonDeleteServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.DragonDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DragonDeleteServlet</servlet-name>
    <url-pattern>/DragonDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TribeAddServlet</display-name>
    <servlet-name>TribeAddServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.TribeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TribeAddServlet</servlet-name>
    <url-pattern>/TribeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TribeDeleteServlet</display-name>
    <servlet-name>TribeDeleteServlet</servlet-name>
    <servlet-class>com.wudonglong.www.servlet.TribeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TribeDeleteServlet</servlet-name>
    <url-pattern>/TribeDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>